@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

.title {
    padding-bottom: 30px;
    font-size: 3.2rem;
}

.title::before {
    content: "";
    background: blue;
    height: 5px;
    width: 200px;
    margin-left: auto;
    margin-right: auto;
    display: block;
    transform: translateY(80px);
}

.under::before {
    content: "";
    background: blue;
    height: 5px;
    width: 200px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    align-content: center;
    justify-content: center;
    transform: translateY(58px);
}

.social-count {
    color: #24292f;
    background-color: #fff;
    border-color: #ddddde;
    border-color: rgba(27, 31, 36, .15);
}

.bg-purple {
    background-color: #6f42c1;
}

.nav-link {
    display: block;
    padding: 0.5rem 1rem;
    color: #0d6efd;
    text-decoration: none;
    transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out;
}

.nav-masthead .nav-link {
    padding: 0.25rem 0;
    font-weight: 700;
    color: rgba(255, 255, 255, .5);
    background-color: transparent;
    border-bottom: 0.25rem solid transparent;
}

.nav-masthead .active {
    color: #fff;
    border-bottom-color: #fff;
}

.big-banner {
    background-image: url('/images/s.png');
    height: 600px;
    position: relative;
    background-repeat: no-repeat;
    background-position: left;
    background-size: auto;
    z-index: 1;
    opacity: .9;
    overflow: hidden;
}

@media (max-width:660px) {
    .big-banner {
        width: 100%;
        height: 400px;
    }
}