    @import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100&display=swap");

    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }

    :root {
        --linear-bg: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7));
        --yellow: #ffc107;
        --purple: #8e44ad;
        --red: #c0392b;
        --orange: #f39c12;
        --black: #333;
        --white: #fff;
        --light-color: #666;
        --light-white: #ccc;
        --light-bg: #f5f5f5;
        --border: 0.1rem solid var(--black);
        --box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
    }

    * {
        font-family: "Poppins", sans-serif;
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        outline: none;
        border: none;
        text-decoration: none;
        transition: all 0.2s linear;
    }

    *::selection {
        background-color: var(--purple);
        color: var(--white);
    }

    *::-webkit-scrollbar {
        height: 0.5rem;
        width: 1rem;
    }

    *::-webkit-scrollbar-track {
        background-color: transparent;
    }

    *::-webkit-scrollbar-thumb {
        background-color: var(--purple);
    }

    .logo {
        margin: 0 .5rem;
        height: 2rem !important;
        width: 2rem !important;
    }

    /* toggle */

    #preloader {
        background: var(--white) url(images/loader/p-p.gif) no-repeat center center;
        background-size: 30%;
        height: 100vh;
        width: 100%;
        position: fixed;
        z-index: 10000;
        animation-delay: .2s linear;
    }

    /* contact page */
    .contact-sec {
        text-align: center;
        max-width: 500px;
        border-radius: .5rem;
        box-shadow: var(--box-shadow);
        border: var(--border);
        background-color: var(--light-color);
    }

    .contact-sec .box {
        margin: 0 auto;
        border: var(--border);
        box-shadow: var(--box-shadow);
        color: var(--black);
        background-color: var(--white);
    }

    .contact-sec textarea {
        resize: none !important;
    }

    .toggle {
        position: relative;
        width: 70px;
        height: 70px;
        background: #fff;
        box-shadow: 0 10px 20px rgba(0, 0, 0, 0.08);
        border-radius: 10px;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
        overflow: hidden;
    }

    .toggle span {
        position: absolute;
        width: 40px;
        height: 4px;
        background: #1863ff;
        border-radius: 4px;
        transition: 0.5s;
    }

    .toggle span:nth-child(1) {
        transform: translateY(-15px);
        width: 25px;
        left: 15px;
    }

    .toggle.active span:nth-child(1) {
        width: 40px;
        transform: translateY(0px) rotate(45deg);
        transition-delay: 0.125s;
    }

    .toggle span:nth-child(2) {
        transform: translateY(15px);
        width: 15px;
        left: 15px;
    }

    .toggle.active span:nth-child(2) {
        width: 40px;
        transform: translateY(0px) rotate(315deg);
        transition-delay: 0.25;
    }

    .toggle.active span:nth-child(3) {
        transform: translateX(60px);
    }

    .p-alert {
        color: var(--purple);
        background-color: var(--light-bg);
        border: 0 !important;
        box-shadow: var(--box-shadow);
        margin: 0.1rem auto;
        font-size: 0.9rem;
    }

    .p-alert .btn-close:hover {
        transform: rotate(90deg);
        color: var(--purple) !important;
        transition: 0.2s linear;
    }

    .p-alert a {
        color: var(--black) !important;
        background-color: var(--light-bg);
        /* text-decoration: none; */
    }

    .p-alert a:hover {
        color: var(--orange) !important;
        text-decoration: underline;
    }

    .white-btn,
    .p-btn {
        background-color: var(--purple) !important;
        border: 0 !important;
        box-shadow: var(--box-shadow) !important;
    }

    .option-btn {
        background-color: var(--orange) !important;
        color: var(--black);
        border: 0 !important;
    }

    .delete-btn {
        background-color: var(--red) !important;
        border: 0 !important;
    }

    .white-btn:hover {
        background-color: var(--white) !important;
        color: var(--black) !important;
    }

    .p-btn:hover,
    .option-btn:hover,
    .delete-btn:hover {
        background-color: var(--black) !important;
    }

    .title {
        padding-bottom: 30px;
        font-size: 3.2rem;
    }

    .title::before {
        content: "";
        background: var(--purple);
        height: 5px;
        width: 200px;
        margin-left: auto;
        margin-right: auto;
        display: block;
        transform: translateY(80px);
    }

    .under::before {
        content: "";
        background: var(--purple);
        height: 5px;
        width: 200px;
        margin-left: auto;
        margin-right: auto;
        display: flex;
        align-content: center;
        justify-content: center;
        transform: translateY(58px);
    }

    nav div ul li a:hover {
        color: var(--yellow) !important;
    }

    .social-count {
        color: #24292f;
        background-color: #fff;
        border-color: #ddddde;
        border-color: rgba(27, 31, 36, 0.15);
    }

    .bg-purple {
        background-color: #6f42c1;
    }

    .navbar {
        background: var(--light-bg) !important;
        border-bottom: var(--border) !important;
        box-shadow: var(--box-shadow) !important;
    }

    .navbar a {
        color: var(--black) !important;
        font-size: 1.1rem;
        font-weight: 500;
    }

    .navbar a:hover {
        color: var(--purple) !important;
    }

    .navbar form .p-btn {
        color: var(--white) !important;
    }

    .navbar ul {
        display: flex;
        justify-content: space-between;
        margin: auto;
    }

    .navbar .navbar-toggler .fa-bars {
        font-size: 1.2rem !important;
        background-color: var(--purple) !important;
        color: var(--white) !important;
        border-radius: 0;
        padding: .5rem;
        position: absolute;
        top: 0.5rem;
        right: .5rem;
    }

    .navbar .navbar-toggler .fa-bars:hover {
        background-color: var(--black) !important;
        color: var(--white) !important;
    }

    .nav-link {
        display: block;
        padding: 0.5rem 1rem;
        color: #0d6efd;
        text-decoration: none;
        transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out;
    }

    .nav-masthead .nav-link {
        padding: 0.25rem 0;
        font-weight: 700;
        color: rgba(255, 255, 255, 0.5);
        background-color: transparent;
        border-bottom: 0.25rem solid transparent;
    }

    .nav-masthead .active {
        color: #fff;
        border-bottom-color: #fff;
    }

    .banner {
        padding-top: 2rem !important;
        background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(images/pc.jpg) no-repeat !important;
        background-size: cover !important;
        background-position: center !important;
        box-shadow: var(--box-shadow) !important;
    }

    .banner h2 {
        color: var(--white) !important;
    }

    .banner p {
        color: var(--white) !important;
    }

    .banner .box p {
        color: var(--white) !important;
    }

    .big-banner {
        background-image: url("/images/s.png");
        height: 600px;
        position: relative;
        background-repeat: no-repeat;
        background-position: left;
        background-size: auto;
        z-index: 1;
        opacity: 0.9;
        overflow: hidden;
    }

    .question-bank .container {
        box-shadow: var(--box-shadow) !important;
        border: var(--border) !important;
        background-color: var(--light-bg) !important;
        text-align: left;
    }

    .question-bank .container .card {
        box-shadow: var(--box-shadow) !important;
        border: var(--border) !important;
    }

    .home-contact {
        background-color: var(--black);
        padding: 1.5rem;
    }

    .home-contact .content {
        max-width: 40rem;
        text-align: center;
        margin: 0 auto;
    }

    .home-contact .content h3 {
        color: var(--white);
        font-size: 2rem;
        text-transform: uppercase;
    }

    .home-contact .content p {
        padding: 0.5rem 0;
        line-height: 1.5;
        color: var(--white);
        font-size: 1rem;
        text-align: center;
    }

    .home-contact .content .white-btn {
        color: var(--white) !important;
        background-color: var(--purple) !important;
    }

    .home-contact .content .white-btn:hover {
        background-color: var(--white) !important;
        color: black !important;
    }

    .footer footer {
        padding: 1rem !important;
        /* background-color: var(--black) !important; */
        background: var(--white) !important;
        width: 100%;
    }

    .footer footer ul li a {
        color: var(--black) !important;
        font-weight: 500;
        font-size: 1.2rem;
    }

    .footer footer ul li a:hover {
        color: var(--purple) !important;
    }

    .footer footer .copyright {
        font-size: 1rem !important;
        color: var(--black) !important;
    }

    .footer footer h6 {
        color: var(--black) !important;
    }

    .footer footer a {
        color: var(--purple) !important;
    }

    .footer footer hr {
        border: var(--border);
        box-shadow: var(--box-shadow);
    }

    /* about */

    .about .flex {
        max-width: 1200px;
        margin: 0 auto;
        display: flex;
        align-items: center;
        flex-wrap: wrap;
    }

    .about .flex .image {
        flex: 1 1 20rem;
    }

    .about .flex .image img {
        width: 100%;
    }

    .about .flex .content {
        flex: 1 1 20rem;
        padding: 2rem;
        background-color: var(--light-bg);
    }

    .about .flex .content h3 {
        font-size: 1.5rem;
        color: var(--black);
        text-transform: uppercase;
    }

    .about .flex .content p {
        padding: 1rem 0;
        line-height: 2;
        font-size: 0.8rem;
        color: var(--light-color);
    }

    .about .flex .content .p-btn {
        padding: 0.5rem;
        color: var(--white);
        text-decoration: none;
    }

    .time-table h2 {
        font-size: 2.5rem;
    }

    .time-table table {
        border: var(--border);
        box-shadow: var(--box-shadow);
        margin: 2rem 0 !important;
    }

    /* side bars */

    .side-bar .offcanvas .offcanvas-header h5 {
        color: var(--black) !important;
        font-size: 1rem;
        text-transform: uppercase;
    }

    .side-bar .offcanvas .offcanvas-header .btn-close {
        color: var(--white) !important;
        background-color: var(--red) !important;
        opacity: 1;
        padding: .5rem;
        border-radius: 0;
        border: var(--border) !important;
    }

    .side-bar .offcanvas .offcanvas-body .nav-item .nav-link {
        color: var(--black) !important;
        font-weight: 500;
        padding: .2rem;
        border-radius: .5rem;
        margin-bottom: .5rem;
        border: var(--border);
    }

    .side-bar .offcanvas .offcanvas-body .nav-item .nav-link:hover {
        color: var(--white) !important;
        opacity: 1 !important;
        background-color: var(--purple) !important;
    }

    .about-me .box-container {
        max-width: 25rem;
        margin: 0 auto;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 1.5rem;
    }

    .about-me .box-container .box {
        position: relative !important;
        text-align: center !important;
        border: var(--border) !important;
        overflow: hidden !important;
        border-radius: 0.5rem !important;
    }

    .about-me .box-container .box img {
        width: 100% !important;
        height: 40rem !important;
        object-fit: cover !important;
    }

    .about-me .box-container .box .share {
        position: absolute;
        top: 0;
        left: -10rem;
    }

    .about-me .box-container .box:hover .share {
        left: 1rem;
        transition: 0.2s linear;
    }

    .about-me .box-container .box .share a {
        height: 3rem;
        width: 3rem;
        line-height: 3rem;
        font-size: 2rem;
        background-color: var(--white);
        display: block;
        text-decoration: none !important;
        border: var(--border);
        box-shadow: var(--box-shadow);
        margin-top: 1rem;
        color: var(--black);
    }

    .about-me .box-container .box .share a:hover {
        background-color: var(--black);
        color: var(--white);
    }

    .about-me .box-container .box h3 {
        color: var(--black);
        font-size: 2.2rem;
        text-transform: capitalize;
        padding-top: .5rem;
        text-align: center;
        background-color: var(--white) !important;
    }

    .about-web .bg-light {
        border: var(--border);
    }

    .syllabus .title {
        font-size: 2.5rem !important;
    }

    .syllabus .card {
        border: var(--border);
        box-shadow: var(--box-shadow);
    }

    .syllabus .card .card-header {
        background-color: var(--light-bg);
    }

    .notify {
        margin-right: 2.4rem;
    }

    .notify button {
        border-radius: 0 !important;
    }
    .toast-container .toast-header .btn-close:hover {
        transform: rotate(90deg) !important;
    }

    /* @media (max-width:660px) {
    .big-banner {
        width: 100%;
        height: 400px;
    }
} */
    /* media queries  */
    /* @media (max-width:991px) {
    html {
        font-size: 55%;
    }
} */
    /* 
@media (max-width:768px) {
    #menu-btn {
        display: inline-block;
    }
    .header .flex .navbar {
        position: absolute;
        top: 99%;
        left: 0;
        right: 0;
        background-color: var(--white);
        border-top: var(--border);
        border-bottom: var(--border);
        clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
    }
    .header .flex .navbar.active {
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
    }
    .header .flex .navbar a {
        margin: 2rem;
        display: block;
    }
} */

    @media (max-width: 768px) {
        .time-table h2 {
            font-size: 2rem;
        }

        .time-table .container .table-responsive table {
            width: 100%;
        }

        .time-table table th {
            padding: 0.3rem;
        }

        .time-table table thead tr th {
            font-size: 0.8rem !important;
        }

        .time-table table tbody tr th {
            font-size: 0.8rem !important;
        }

        .time-table table tbody tr td {
            font-size: 0.8rem !important;
            padding: 0.3rem;
        }
    }

    @media (max-width: 450px) {
        .big-banner {
            width: 100%;
            height: 400px;
        }

        footer .copyright {
            font-size: 0.9rem !important;
        }

        .home-contact .content h3 {
            font-size: 1.5rem;
        }

        .home-contact .content p {
            font-size: 0.8rem;
        }

        .banner h2 {
            font-size: 1.2rem !important;
            font-weight: 600;
        }

        .banner p {
            font-size: 1rem !important;
            font-weight: 500;
        }

        .github {
            height: 1.5rem;
            text-align: center;
        }

        .time-table h2 {
            font-size: 1.8rem;
        }

        .time-table .container .table-responsive table {
            width: 100%;
        }

        .time-table table th {
            padding: 0.1rem;
        }

        .time-table table thead tr th {
            font-size: 0.6rem !important;
        }

        .time-table table tbody tr th {
            font-size: 0.6rem !important;
        }

        .time-table table tbody tr td {
            font-size: 0.6rem !important;
            padding: 0.1rem;
        }

        .footer footer ul li a {
            font-size: .9rem;
        }

        .about-me {
            overflow: hidden !important;
            margin: 0 auto;
        }

        .about-me .box-container {
            margin: 0 auto;
        }

        .about-me .box-container .box img {
            height: 25rem !important;
        }

        .about-me .box-container .box h3 {
            font-size: 1.5rem;
            font-weight: 500;
        }

        .about-me .box-container .box .share a {
            height: 2.5rem;
            width: 2.5rem;
            line-height: 2.5rem;
            font-size: 1.2rem;
        }

        .syllabus .title {
            font-size: 1.8rem !important;
            font-weight: 600 !important;
            text-transform: capitalize !important;
        }

    }